---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/ui/Card.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
import { Icon } from "astro-icon/components";
---

<Layout>
  <section class="max-w-[1000px] self-center py-10 px-20">
    <Icon name="arrow" class="h-20 w-20 animate-bounce rotate-180" />
  </section>
  <section
    class="overflow-scroll max-h-fit py- max-w-[1000px] self-center px-6 no-scrollbar"
  >
    <div>
      <div class="grid md:grid-cols-2 gap-x-40 mb-40">
        <ul class="space-y-8">
          {
            posts
              .filter((_, index) => index % 2 === 0)
              .map((post) => <Card post={post} />)
          }
        </ul>

        <ul class="space-y-8">
          {
            posts
              .filter((_, index) => index % 2 !== 0)
              .map((post) => <Card post={post} />)
          }
        </ul>
      </div>
    </div>
  </section>
</Layout>
