@import "tailwindcss";
@import "@/styles/fonts/fonts.css";

@theme {
  --font-sans: "Inter", "sans-serif";
  --font-germania: "GermaniaOne", "cursive";
  --breakpoint-3xl: 120rem;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

@layer base {
  body {
    font-family: "Inter", "sans-serif";
    .font-germania {
      font-family: "GermaniaOne", "cursive";
    }
  }

  .font-tagesschrift {
    font-family: "Tagesschrift", serif;
  }
}
