---
import Layout from "@/layouts/Layout.astro";
import HomeMob from "@/components/HomeMob.astro";
import Button from "@/components/Button.astro";
---

<Layout>
  <div
    class="grid grid-cols-1 md:grid-cols-2 items-center gap-8 my-auto justify-items-center"
  >
    <div class="relative hidden md:flex flex-1">
      <h2 class="max-w-[600px] text-8xl font-sans italic font-black">
        Tec. superior en analisis de sistema y desarrollo de software
      </h2>
    </div>
    <HomeMob />
    <div
      class="md:w-1/2 flex flex-col gap-6 col-span-1 items-start p-10 md:p-0"
    >
      <p
        class="text-3xl font-semibold font-sand-serif font-sans italic text-white md:block"
      >
        Aqui puedes encontrar el programa, requisitos de inscripcion y la
        resulucion de la carrera:
      </p>
      <div class="grid area-2 gap-8">
        <Button
          text="Drive"
          href="https://drive.google.com/drive/folders/1qm6ddAGO9I75vkq0A1icpoSjGuSfg52w"
        />
      </div>
      <span class="text-amber-300"
        >Actualmente, la institución se encuentra abierta hasta el 18 de
        diciembre. Consulta los requisitos de lunes a miércoles desde las 19:30
        a 21:30.</span
      >
    </div>
  </div>
</Layout>
