---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import HomeMob from "@/components/HomeMob.astro";
import VerticalCarousel from "@/components/react/VerticalCarousel";
---

<Layout>
  <div class="md:flex-row flex flex-col gap-10 relative md:pr-72">
    <div class="relative hidden md:flex flex-1">
      <h2
        class="max-w-96 text-9xl absolute  text-center z-20 -right-32 bottom-1/2 font-fugaz"
      >
        Big City Life
      </h2>

      <p class="text-xl absolute bottom-1/4 right-0 rotate-90">jramma.com</p>
    </div>
    <div class="min-h-screen w-1/2 md:block hidden max-h-full overflow-hidden">
      <VerticalCarousel client:load imageCount={10} basePath="/" />
    </div>
    <HomeMob />
    <Hero />
  </div>
</Layout>
