---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import HomeMob from "@/components/HomeMob.astro";
import DeskMenu from "@/components/DeskMenu.astro";
import VerticalCarousel from "@/components/react/VerticalCarousel";
import Ribbons from "@/components/react/Ribbons";
---

<Layout>
  <div class="md:flex-row flex flex-col gap-10 relative">
    <div class="relative hidden md:flex flex-1">
      <h2
        class="max-w-96 text-7xl absolute text-center z-20 -right-32 bottom-1/2"
      >
        Stories of a watercolor artist layers of
      </h2>
      <p class="text-xl absolute bottom-1/4 right-0 rotate-90">
        Spanish Artist
      </p>
    </div>
    <div class="min-h-screen w-5/12 md:block hidden max-h-full overflow-hidden">
      <VerticalCarousel client:load imageCount={12} basePath="/paints/" />
    </div>
    <HomeMob />
    <Hero />
    <DeskMenu />
    <div class="absolute inset-0 hidden md:block z-0">
      <Ribbons
        client:load
        baseThickness={8}
        speedMultiplier={0.2}
        maxAge={700}
        enableFade={true}
        enableShaderEffect={true}
      />
    </div>
  </div>
</Layout>
