---
interface Props {
  text: string;
  href?: string;
}
import { Icon } from "astro-icon/components";

const { text, href } = Astro.props;
---

<div class="border-dotted border-1 w-64 h-25 relative ml-6 mt-10">
  <a
    class="flex group p-2 w-64 justify-between border-1 absolute -left-2 -top-2 hover:-left-4 hover:-top-4 transition-all ease-in-out duration-500 cursor-pointer bg-white"
  >
    <p class="mt-auto">Let's Chat</p>
    <Icon
      name="arrow"
      class="w-10 h-10 rotate-45 mb-10 mr-5 group-hover:translate-x-5 transition duration-500"
    />
  </a>
</div>
