
<section class="flex relative justify-center md:hidden">
  <div class="relative w-1/2 md:w-full md:py-10">
    <img
      src="/hero.jpg"
      alt="Watercolor artworks by Silvia Azizaj "
      class="h-auto object-cover w-full"
      loading="lazy"
    />
    <p class="md:hidden absolute rotate-90 top-4 -right-10 text-xl font-bold">Hero</p>
  </div>
</section>
