<section class="w-full flex flex-col md:hidden px-5 z-10">
  <div class="relative">
    <h1
      class="text-6xl leading-18 mt-20 font-semibold relative inline-block font-sans italic font-black"
    >
      Tec. superior en analisis de sistema y desarrollo de software
    </h1>
  </div>
</section>
