<section class="w-full flex flex-col md:hidden">
  <div class="relative">
    <h1
      class="text-7xl leading-22 mt-10 font-semibold bg-white relative inline-block"
    >
      Watercolor<br /> art <br /> pieces
      <span
        class="absolute right-0 h-2 bg-black top-1/2 transform w-52 -translate-y-1/2"
      ></span>
    </h1>
  </div>
  <p class="text-5xl text-right max-w-72 self-end py-10 leading-15">
    Prints by Spanish Artist
  </p>
</section>
