---
import type { CollectionEntry } from "astro:content";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout>
  <article>
    <div class="flex flex-grow py-20 justify-center items-center">
      {heroImage && <img class="max-w-[1000px] max-h-[70vh]" src={heroImage} alt="" />}
    </div>
    <div class="flex flex-col gap-6">
      <div class="class flex justify-between border-b">
        <div class="text-2xl">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="text-base">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1 class="font-semibold text-4xl">{title}</h1>
        <hr />
      </div>
      <slot />
    </div>
  </article>
  <Footer />
</Layout>
