---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="max-w-52 self-end">
    <p>
      Welcome to my website! I'm a web developer and designer based in the UK. I
      love creating websites and applications that are both functional and
      beautiful. I'm passionate about web accessibility and user experience.
    </p>
  </div>
</Layout>
